.carousel-inner {
    width: 80.5em;
    height: 50em;
    color: #ffffff;
    position: relative;
    background: #ffffff;
    padding: 40px 0px 0px 0px; }
  
  .carousel-item {
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 5px; }